.Projects {
  background-color: white;
}

.Project-page {
    display: flex;
    height: 75vh;
    width: 75vw;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    position: relative;
    margin-left: 9vw;
  }
  
  .Project-header {
    flex: 0 0 20vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .Project-name {
    font-size: 2rem;
    text-align: center;
    padding-top: 18vh;
    margin-left: 7vw;
  }
  
  .Project-body {
    flex: 0 0 50vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    overflow: hidden;
    margin-top: 25vh;
  }
  
  .Project-body img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: transform 0.4s ease;
  }
  
  .Back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    mix-blend-mode: exclusion;
    color: white;
    z-index: 10;
    padding: 0;
  }
  
  .Project-description {
    font-family: Menlo, sans-serif;
    font-size: 1rem;
    max-width: 60vw;
    margin: 17vh auto 10vh auto;
    text-align: left;
    line-height: 1.6;
  }
  
  .Project-categories {
    flex: 0 0 12vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    padding-left: 1rem;
    height: 70vh;
    margin-top: 25vh;
    pointer-events: auto;
    cursor: default;
    color: purple;
  }

  .Arrow {
    z-index: 100;
    position: absolute;
    width: 30%;
    bottom: -7vw;
  }

  .Arrow.left {
    left: 5vw;
  }

  .Arrow.right {
    right: -2.5vw;
  }
.Large-image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  z-index: 1;
  position: relative;
}

.Large-image img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.Back-to-top {
  position: sticky;
  top: 60vh;
  left: 91vw;
  font-size: 3rem;
  font-weight: bold;
  z-index: 10;
  cursor: pointer;
  margin: 1rem;
  display: flex;
  mix-blend-mode: exclusion;
  width: 5rem;
}