.App {
  text-align: center;
  font-family: Damascus, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.Background {
  z-index: -1;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  font-size: larger;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 2vh 3vw;
  box-sizing: border-box;
  pointer-events: none;
  font-family: Damascus, sans-serif;
  mix-blend-mode: difference;
}

.Overlay a {
  pointer-events: auto;
  text-decoration: none;
}

.Overlay a:hover {
  color: purple;
}

.Design-nav {
  grid-column: 1;
  grid-row: 1;
  align-self: start;
  justify-self: start;
}

.Other-nav {
  grid-column: 1;
  grid-row: 2;
  align-self: end;
  justify-self: start;
}

.Code-nav {
  grid-column: 4;
  grid-row: 1;
  align-self: start;
  justify-self: end;
}

.Github-link {
  grid-column: 4;
  grid-row: 2;
  align-self: start;
  justify-self: end;
  margin-top: 12vh;
}

.Github-link a {
  text-decoration: underline;
  color: gray;
  pointer-events: auto;
}

.Github-link a:hover {
  color: purple;
}

.About-nav {
  grid-column: 4;
  grid-row: 2;
  align-self: end;
  justify-self: end;
}

.Home-nav {
  grid-column: 2 / span 2;
  grid-row: 1;
  align-self: start;
  justify-self: center;
  text-align: center;
  font-size: 1.5em;
  padding-top: 1vh;
  width: 3.5em;
  height: auto;
  position: absolute;
  top: 0.5vh;
  right: 45%;
  z-index: 9999;
}

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
}

.Design-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  width: 85vw;
  margin: 12.5vh 7vw;
  overflow: hidden;
}

.Other-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  width: 82vw;
  margin: 12.5vh 8vw;
  overflow: hidden;
}

.About-body {
  display: inline-block;
  align-items: center;
  justify-content: center;
  height: 65vh;
  width: 70vw;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 20vh;
  margin-bottom: 0;
  padding-bottom: 0;
  margin: 20vh 15vw;
  z-index: -1;
}

.About-body h1, h2{
  text-align: center;
  padding-bottom: 5%;
}

.About-body h2 a {
  text-decoration: none;
  color: purple;
}

.About-body p {
  font-family: Menlo, sans-serif;
  text-align: left;
}

.About-body hr {
  margin-top: 5%;
  margin-bottom: 5%;
}

.Code-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  width: 85vw;
  margin: 12.5vh 7.5vw;
  overflow: hidden;
}

.Portrait {
  width: 100%;
  height: auto;
  z-index: -1;
}

.Portrait img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.About-page {
  background-color: white;
}